<h1>All Data</h1>
<hr />

<button (click)="filterData()" class="btn btn-primary" *ngIf="buttonStatus==1">Filter Custom Data</button>
<button (click)="applyDiscounts()" class="btn btn-primary" *ngIf="buttonStatus==2">Apply Discounts</button>
<button (click)="saveChanges()" class="btn btn-primary" *ngIf="buttonStatus==3">Save Changes</button>&nbsp;
<button (click)="cancel()" class="btn btn-secondary">Cancel</button>

<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>State</th>
      <th>Order Number</th>
      <th>Total List Price</th>
      <th>Total Discount</th>
      <th>Final Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allData">
      <td>{{data.fullname}}</td>
      <td>{{data.email}}</td>
      <td>{{data.state}}</td>
      <td>{{data.orderId}}</td>
      <td>{{data.totalListPrice | number : '.2-2'}}</td>
      <td>{{data.totalDiscount | number : '.2-2'}}</td>
      <td>{{data.finalPrice | number : '.2-2'}}</td>
    </tr>
  </tbody>
</table>
